*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

button {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  transition: transform ease-out 0.1s;
}
button:not(:disabled) {
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
}
