@value bp-large-screen from 'styles/breakpoints.module.css';
@value firstShadowRadius: clamp(1em, 1.7vw, 1.5em);
@value gridRowGap: clamp(1.5em,2.9vw,2.5em);

.container {
  min-height: 50vh;
  display: grid;
  grid-template-areas:
    'item1 item2'
    'text1 text2'
    'result result';
  justify-items: center;
  align-content: start;
  column-gap: calc(2 * gridRowGap);
  row-gap: gridRowGap;
  letter-spacing: 0.15em;
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.highlight {
  border-radius: 50%;
  box-shadow: 0 0 0 firstShadowRadius hsla(0, 0%, 100%, 0.04),
    0 0 0 calc(2.5 * firstShadowRadius) hsla(0, 0%, 100%, 0.038),
    0 0 0 calc(4.5 * firstShadowRadius) hsla(0, 0%, 100%, 0.03);
}
.result {
  grid-area: result;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1em;
  margin-top: 8vh;
}
.result p {
  font-size: 3.4em;
  font-weight: 700;
}
.result button {
  background-color: white;
  color: hsl(229, 25%, 31%);
  border-radius: 8px;
  padding-block: 0.9em;
  padding-inline: 3.4em;
}
.result button:hover {
  color: hsl(347, 76%, 35%);
  box-shadow: 0 0 5px 1px whitesmoke;
}

@media bp-large-screen {
  .container {
    grid-template-areas:
      'text1 . text2'
      'item1 result item2';
    column-gap: 4.5em;
    row-gap: 5em;
  }
  .text1,
  .text2 {
    font-size: 1.5em;
  }
  .item1,
  .item2 {
    transform: scale(1.4);
  }
  .result {
    margin-top: 0;
  }
  .result button {
    margin-inline: 2.5em;
  }
}
