.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75em;
  width: var(--app-width);
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: clamp(5px, 1.1vw, 15px);
}

.logo {
  margin-block: 1.5em;
  margin-inline: clamp(1.2em, 2vw, 1.75em);
  height: clamp(3.25em, 7vw, 6em);
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: clamp(0.6em, 1.2vw, 1em);
  margin-inline: clamp(0.6em, 1.7vw, 1.5em);
  min-height: clamp(4.5em, 8.4vw, 7.2em);
  min-width: clamp(5em, 11.1vw, 9.5em);
  background-color: white;
  border-radius: 5px;
}
.score > * {
  font-weight: 700;
  line-height: 1em;
}
.score h3 {
  color: hsl(229, 64%, 46%);
  font-size: clamp(0.7em, 1.2vw, 1em);
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.score p {
  color: hsl(229, 25%, 31%);
  font-size: clamp(2.45em, 4.7vw, 4em);
}
