@value bp-large-screen from 'styles/breakpoints.module.css';

.footer {
  margin-bottom: 3.5vh;
}

.footer button {
  padding-block: 0.65em;
  padding-inline: 2.4em;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  letter-spacing: 0.2em;
}

@media bp-large-screen {
  .footer {
    justify-self: right;
    margin-right: 2.5em;
  }
}
