*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --min-margin-inline: 1.75em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
